@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 36px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 40px 0;
    }


    header .logo
    {
        margin-right: auto;
        margin-left: auto;
    }


    header .menu_btn
    {
        display: none;
    }



    /*-----------
        Order
    -----------*/
    .order .step_info .title
    {
        font-size: 34px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 80px;
    }


    .first_section .data
    {
        width: 520px;
    }


    .first_section .title
    {
        font-size: 30px;
    }


    .first_section .desc
    {
        font-size: 16px;
        line-height: 20px;
    }


    .first_section .btn
    {
        margin-top: 60px;
    }


    .first_section .bg
    {
        width: 1000px;

        transform: translate(-176px, -116px);
    }



    /*--------------
        Services
    --------------*/
    .services .main_title
    {
        left: 36px;
    }


    .services .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 72px);
        margin: -36px;
        padding: 36px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .services .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .services .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .services .row > *
    {
        display: inline-block;

        width: 224px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .services .row > * + *
    {
        margin-left: 32px;
    }



    /*-----------
        Brand
    -----------*/
    .brand .main_title
    {
        left: 36px;

        max-width: calc(100% - 72px);
    }


    .brand .main_title
    {
        top: -40px;
    }

    .brand .main_title img
    {
        height: 92px;
    }


    .brand .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 72px);
        margin: -36px;
        padding: 36px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .brand .row::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .brand .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .brand .row > *
    {
        display: inline-block;

        width: 224px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;
    }

    .brand .row > * + *
    {
        margin-left: 32px;
    }



    /*------------
        Result
    ------------*/
    .result
    {
        padding: 80px 0;
    }


    .result .data
    {
        width: 100%;
    }


    .result .block_title
    {
        font-size: 80px;
        line-height: 72px;
    }


    .result .desc
    {
        margin-top: 48px;
    }


    .result .stats
    {
        font-size: 30px;
        line-height: 100%;

        margin-top: 48px;
    }

    .result .stats > * + *
    {
        margin-top: 48px;
    }


    .result .big_boss
    {
        margin: 80px auto 0;
    }



    /*----------
        Need
    ----------*/
    .need .row + .row
    {
        margin-top: 80px;

        justify-content: flex-start;
    }


    .need .question
    {
        font-size: 26px;
        line-height: 32px;

        width: calc(50% + 1px);
    }


    .need .question.center
    {
        margin-top: 80px;
        margin-left: auto;

        text-align: left;
    }


    .need .download_link
    {
        margin-top: 80px;
    }


    .need .row .main_question
    {
        top: -180px;
        left: auto;
    }
}
